.hack-complete-container {
  margin-top: 250px;
}

.failed {
  background-color: var(--red-color);
}

.success {
  background-color: var(--green-color);
}

h1, h3, h4 {
  text-align: center;
}