<section class="cyberpunk black">
  <h1 class="cyberpunk cp_muted headline">{{ headline }}</h1>
</section>
<section class="cyberpunk video-section">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10%">
    <div class="img-container" fxFlex>
      <img [src]="imgPath" class="cyberpunk" />
      <div class="overlay">
        <img src="assets/img/story/play-button.png" />
      </div>
    </div>
    <div fxFlex>
      <p class="cyberpunk cp_muted inverse content">{{ content }}</p>
      <p class="cyberpunk cp_muted">
        <span fxLayout="row" fxLayoutAlign="start center">
          <img class="portrait" src="assets/img/story/portrait-small.png" />
          <span fxLayout="column">
            <span>YukonSy</span>
            <span class="subcriber-count">{{ sub_count }} subscribers</span>
          </span>
          <span class="spacer"></span>
          <app-icon-text [icon]="'thumb_up'" [multiplier]="100"></app-icon-text>
          <app-icon-text [icon]="'thumb_down'"></app-icon-text>
        </span>
      </p>
    </div>
  </div>
</section>
