.img-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin-bottom: 3% !important;
}

.img-container img {
  max-width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 2%;
}

.newline {
  display: block;
}
 .subcriber-count {
   font-size: 12px;
 }

 h1 {
   font-family: oxanium;
   line-height: 40px;
 }

 p.content {
  font-size: 20px;
  white-space: pre-line;
 }