.donate-card {
  width: 320px;
  margin: 20px;
  min-height: 480px;
}

button.cyberpunk2077.small {
  padding: 10px 30px;
}

button.cyberpunk2077.small:after {
  content: "";
}

.mat-card {
  display:flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

mat-card-header mat-card-title {
  font-size: 30px;
  font-family: Barlow;
}

mat-card-content p {
  white-space: pre-line;
  font-size: 20px;
}

.card-img {
  height: 200px;
}