.team-member {
  margin: 40px;
  max-width: 640px;
}

.member-image {
  margin-right: 20px;
  width: 280px;
  height: 280px;
}

h1.member-name {
  font-size: 36px !important;
}

p {
  white-space: pre-line;
  font-size: 20px;
}

@media (max-width: 601px) {
  .member-image {
    margin-right: 0px;
    width: 200px;
    height: 200px;
  }

  .team-member {
    margin: 10px;
  }
}

