.mat-toolbar {
  background-color: #000;
  z-index: 9999;
  height: 80px;
}
@media (max-width: 1280px) {
  // .mat-toolbar {
  //   height: 160px;
  // }

  button {
    padding: 2.5vw 5vw !important;
  }

  button:after {
    content: "";
  }
}

@media (max-width: 960px) {
  button {
    padding: 2vw 4vw !important;
  }

  button:after {
    content: "";
  }
}

@media (max-width: 600px) {
  .mat-toolbar {
    height: 30vw;
  }
}
