<div class="full-page-height-main">
  <section class="cyberpunk">
    <app-title-banner [title]="title" [subtitle]="subtitle"></app-title-banner>
  </section>
  <section class="cyberpunk black">
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <h1 class="cyberpunk cp_muted">
        All messages are sent encrypted, router through 7 proxies and delivered anonymously
      </h1>
      <textarea matInput class="cyberpunk cp_inverted_input" [(ngModel)]="value"></textarea>
      <div fxFlex="grow" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <input class="annie-button" type="image" src="assets/img/annie.png" (click)="openHack()">
        </div>
        <button (click)="send()" class="cyberpunk2077 red">{{ buttonText }}</button>
      </div>
    </div>
  </section>
  <section class="cyberpunk"></section>
</div>
