<div style="min-width: 100vw">
  <section class="cyberpunk">
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="donate-banner">
      <div fxFlex="grow" fxLayoutAlign="center center">
        <h1 class="cyberpunk glitched donate-text">DONATE NOW</h1>
      </div>
      <div fxFlex="grow" fxLayoutAlign="center center">
        <h3 class="cyberpunk donate-text">support the cause</h3>
      </div>
    </div>
  </section>
  <section class="cyberpunk black">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <app-donate-card fxFlex></app-donate-card>
      <app-donate-card fxFlex></app-donate-card>
      <app-donate-card fxFlex></app-donate-card>
    </div>
  </section>
</div>