<div class="full-page-height-main">
  <section class="cyberpunk">
    <app-title-banner [title]="title" [subtitle]="subtitle"></app-title-banner>
  </section>
  <section class="cyberpunk black">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>warning</mat-icon>
      <h1>DO NOT DONATE, CORPO KOJOS SEIZED LIBERTY NEWS ACCOUNTS</h1>
      <mat-icon>warning</mat-icon>
    </div>
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
      <app-donate-card
        *ngFor="let card of cards"
        [title]="card.title"
        [subTitle]="card.subTitle"
        [imagePath]="card.imagePath"
        [content]="card.content"
        [actionText]="card.actionText"
      >
      </app-donate-card>
    </div>
  </section>
</div>
