<header class="cyberpunk-filler"></header>
<section class="cyberpunk" style="height: 90vh">
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="full-page-height-main">
      <div class="enter-text" fxFlex="grow" fxLayoutAlign="center center">
        <h1 class="cyberpunk glitched ">JOIN THE REVOLUTION</h1>
      </div>
      <div fxFlex="grow" fxLayoutAlign="center center">
        <button routerLink="story" class="cyberpunk2077 green">JOIN</button>
      </div>
    </div>
</section>
<footer class="cyberpunk-filler"></footer>